# =========================
# Python
# =========================
**/__pycache__/
*.pyc
*.pyo

# =========================
# Virtual env / IDE
# =========================
.venv/
.idea/
.vscode/

# =========================
# Deep Learning Artifacts
# =========================
*.pt
*.pth
*.ckpt
checkpoints/

# =========================
# Experiment Outputs
# =========================
#reports/

# =========================
# Data
# =========================
data/**/node_embeddings.pt

# =========================
# Logs & runtime file
# =========================
**/log/
**/logs/
*.log
*.out

# =========================
# Local databases
# =========================
*.db
*.sqlite*

# =========================
# Archives & Temp
# =========================
*.zip
*.tgz
*.npz
*.partac
*.tgz.partac
*~