# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual env / IDE
# =========================
.venv/
.idea/

# =========================
# Deep Learning Artifacts
# =========================
*.pt
*.pth
*.ckpt

checkpoints/

# =========================
# Experiment Outputs
# =========================
#reports/

# =========================
# Data
# =========================
data/**/node_embeddings.pt

# =========================
# Archives & Temp
# =========================
*.zip
*.tgz
*.npz
*.partac
*.tgz.partac
